// Colors

$primary-400: hsl(0, 36%, 70%);
$primary-700: hsl(0, 93%, 68%);

$neutral-400: hsl(0, 6%, 24%);

// Gradients

$gradient-bg: 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);

// $gradient-button: 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
$gradient-button: linear-gradient(135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%));