// Font sizes

$fs-base: 1.3rem;
$fs-base-mobile: 1rem;
$fs-heading-mobile: 4rem;
$fs-heading: 6rem;

// Font Families
$ff-base: 'Josefin Sans', sans-serif;

// Font weights
$fw-300: 300;
$fw-400: 400;
$fw-600: 600;