:root {
  --primary-400: hsl(256, 26%, 20%);
  --primary-300: hsl(257, 28%, 28%);
  --primary-100: hsl(216, 30%, 68%);

  --neutral-700: hsl(270, 9%, 17%);
  --neutral-400: hsl(273, 4%, 51%);
  --neutral-100: hsl(0, 0%, 98%);

  --fs-base: 1rem;
  --fs-heading: 4rem;

  --ff-heading: "DM Serif Display", serif;
  --ff-body: "Karla", sans-serif;
}

body {
  font-family: var(--ff-body);
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-paragraph {
  color: var(--neutral-100);
  line-height: 1.5rem;
}

.flex-flow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-stack {
  display: grid;
}

.container-desktop {
  margin: auto;
  width: 80%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: var(--neutral-400);
  background-color: var(--neutral-100);
}

nav .burger {
  display: none;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items > li {
  text-decoration: none;
  list-style-type: none;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-items li a:hover {
  color: var(--primary-400);
}

.nav-cta-button {
  border: 2px solid var(--primary-400);
  padding: 0.65rem 3rem;
  text-transform: uppercase;
  color: var(--primary-400);
  font-weight: 700;
}

.nav-cta-button:hover, .nav-cta-button:focus-visible, .nav-cta-button:focus {
  background-color: var(--primary-400);
  color: var(--neutral-100);
}

@media screen and (max-width: 1075px) {

  nav .burger {
    display: block;
    cursor: pointer;
  }

  .nav-items {
    padding-inline: 4rem;
    width: 100vw;
  }
  nav {
    --nav-height: 8vh;
    height: var(--nav-height);
  }

  .navigation-links {
    background-color: var(--primary-300);
    color: var(--neutral-100);
    position: absolute;
    transform: translateX(100%);
    top: var(--nav-height);
    right: 0;
    bottom: 0;
    transition: transform 0.35s ease-in-out;
  }

    .nav-items li a:hover {
      color: var(--neutral-400);
    }

  .toggle-nav {
    transform: translateX(0%);
  }

  .nav-cta-button {
      border: 2px solid var(--primary-300);
  }

  .navigation-links .nav-items {
    margin-top: 3rem;
    flex-direction: column;
    gap: calc(100vh / 7);
  }
}

.section1 {
  background-color: var(--primary-400);
  padding-top: 3rem;
  /* height: 65vh; */
}

.intro-grid {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  grid-auto-flow: dense;
}

.intro-grid .intro {
  grid-column: 1;
}

.intro-grid .intro-picture {
  grid-column: 2;
}

@media screen and (max-width: 1075px) {
  .intro-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding-top: 0;
  }

    .intro-grid .intro {
      grid-column: 1;
    }
  
    .intro-grid .intro-picture {
      grid-column: 1;
    }

    .intro-grid .intro {
      align-items: center;
    }

    .intro-grid .intro button {
      align-self: center;
      margin-bottom: 5rem;
    }
}

#border {
  max-width: 8rem;
}

#border2 {
  color: var(--neutral-400);
  max-width: 8rem;
  margin: 4rem 0;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  color: var(--neutral-100);
}

.intro h1 {
  font-size: var(--fs-heading);
}

.intro button {
  align-self: flex-start;
  background-color: transparent;
  border: 2px solid var(--neutral-100);
  padding: 0.65rem 3rem;
  text-transform: uppercase;
  color: var(--neutral-100);
  font-weight: 700;
}

.intro button:hover,
.section3 button:hover {
  background-color: var(--neutral-100);
  color: var(--neutral-700);
  cursor: pointer;
}

.section2 {
  /* move padding into variables for extended image */
  padding-top: calc(100vh - 75vh);
  margin-bottom: 10rem;
}

.section2 h1 {
  font-size: var(--fs-heading);
  margin-bottom: 6rem;
}

.features {
  gap: 2rem;
  align-items: start;
}

.feature-desc {
  gap: 1.5rem;
}
.feature-desc h3 {
  font-size: calc(var(--fs-heading) * 0.4);
}

.feature-desc p {
  color: var(--neutral-400);
  max-width: 60ch;
  line-height: 1.6;
}


@media screen and (max-width: 1075px) {

  .section2 {
    text-align: center;
  }
  .features {
    flex-direction: column;
  }

  .feature-desc {
    justify-items: center;

  }
}

.section3 {
  background-color: var(--primary-400);
  padding: 4rem 5rem;
  color: var(--neutral-100);
  justify-content: space-between;
  margin-bottom: 10rem;
}

.section3 p {
  font-size: var(--fs-heading);
  font-family: var(--ff-heading);
  line-height: 1;
}

@media screen and (max-width: 1075px) {
    .section3 {
      text-align: center;
      flex-direction: column;
      justify-content: space-around ;
      font-size: var(--fs-base);
    }

    .section3 button {
      margin-top: 2rem;
    }
}

/* TODO: make more resuable styles for buttons */

.section3 button {
  background-color: transparent;
  border: 2px solid var(--neutral-100);
  padding: 0.65rem 3rem;
  text-transform: uppercase;
  color: var(--neutral-100);
  font-weight: 700;
}

footer {
  background-color: var(--neutral-100);
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: var(--ff-body);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.footer-links .grid-stack {
  gap: 0.8rem;
}

.flex-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-footer .flex-flow {
  gap: 1rem;
}

footer .footer-links {
  margin-top: 2rem;
  justify-content: space-between;
  align-items: start;
}

.footer-category-title {
  color: var(--neutral-400);
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--ff-body);
  margin-bottom: 1.2rem;
}

#footer-hr {
  margin: 4rem 0;
  border-top: 1px solid var(--neutral-100);
}

.links-images img:hover {
  cursor: pointer;
  filter: brightness(50%) contrast(150%);
}

.footer-links div > a:hover {
  border-bottom: 1px solid var(--primary-400);
  width: max-content;
}


@media screen and (max-width: 1075px) {

  .flex-footer {
    flex-direction: column;
  }

  .links-images {
    margin: 1.5rem 0;
  }

  #footer-hr {
    margin: 1rem 0;
  }

  footer .footer-links {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  footer .grid-stack {
    text-align: center;
  }
}

@media screen and (max-width: 1075px) {
  .container-desktop {
    width: 80%;
  }
}